name: PR Agent
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  pr_agent_job:
    runs-on: ubuntu-latest
    steps:
    - name: PR Agent action step
      uses: Codium-ai/pr-agent@main
      env:
        OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
        OPENAI_API_BASE: ${{ secrets.OPENAI_API_BASE }}
        CONFIG.MODEL: "gpt-4o-mini"
        CONFIG.MODEL_TURBO: "gpt-4o-mini"
        OPENAI.API_BASE: ${{ secrets.OPENAI_API_BASE }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
